<p>kids works!</p>
<div class="container-fluid my-5">
  <div class="row">
    <div class="col-md-3 mb-4">
      <h5 class="mb-3">Filter by Category</h5>
      <ul class="list-group">
        <li class="list-group-item" [class.active]="selectedSubcategory === 'All'" (click)="filterBySubcategory('All')">
          Show All
        </li>
        <li class="list-group-item" *ngFor="let sub of subcategories" [class.active]="selectedSubcategory === sub"
          (click)="filterBySubcategory(sub)">
          {{ sub }}
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-4 mt-4 mb-3" *ngFor="let product of filteredProducts">
          <div class="card h-100 shadow-sm">
            <img [src]="product.image" class="card-img-top" [alt]="product.title"
              style="height: 250px; object-fit: cover;" />
            <div class="card-body">
              <div class="col-12">
                <div class="row">
                  <div class="col-9">
                    <h4 class="card-title">{{ product.title }}</h4>
                    <h5 class="text-muted mb-1">{{ product.subtitle }}</h5>
                  </div>
                  <div class="col-3"><button (click)="addToWishlist(product)" class="btn btn-outline-danger"><i class="far fa-heart"></i></button>
                  </div>
                </div>
              </div>
              <p class="mb-2">
                <span class="text-warning">⭐ {{ product.rating }}</span>
                <span class="text-muted">({{ product.reviews }} ratings)</span>
              </p>
              <h6 class="fw-bold text-success fs-5">₹{{ product.price }}
                <span class="text-decoration-line-through text-muted fs-6 ms-2">₹{{ product.mrp }}</span>
                <span class="badge bg-danger ms-2">-{{ product.discount }}%</span>
              </h6>
              <p class="small text-muted">Offers: {{ product.offerSummary }}</p>
              <P>{{product.subcategory}}
              </P>
              <ul class="small mb-2">
                <li><strong>Material:</strong> {{ product.material }}</li>
                <li><strong>Style:</strong> {{ product.style }}</li>
                <li><strong>Neck:</strong> {{ product.neck }}</li>
                <li><strong>Length:</strong> {{ product.length }}</li>
                <li><strong>Sleeves:</strong> {{ product.sleeve }}</li>
              </ul>

              <p class="text-success small">✅ In stock | Delivery by {{ product.deliveryDate }}</p>
              <div class="d-flex gap-2">
                <button class="btn btn-outline-primary w-100" (click)="addToCart(product)">Add to Cart</button>
                <button class="btn btn-primary w-100" (click)="buyNow(product)">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
